mixin stage(icon, head, body)
	.col-md-3.col-sm-6.col-xs-12
		.stage
			.icon-box
				i.fs-icon(class='#{icon}')
			.card
				h3 #{head} 
				p #{body}

section.process.content
	h2 Web Development Process
	
	+stage(
	'icon-list', 
	'Technical task',
	'We gather your info goals and websites you like.'
	)

	+stage(
	'icon-design-tool', 
	'Prototype',
	'A website prototype can be any mock-up or demo of what a website will look like when it goes live. '
	)

	+stage(
	'icon-design', 
	'Design',
	'We create some design concepts. You pick one to polish. Finally we lock this in.'
	)

	+stage(
	'icon-programming', 
	'Programming',
	'We now turn concept into the real html page. We test it in the major browsers and make sure it works. We then lock this and build the whole site.'
	)

-var path = ""
mixin slider(path_img,images,slider)
	for image in images
		img.slider_size(class=slider,src=path+'assets/img/'+path_img+'#'+image)
	-var len = images.length
	.image-container
		for image in images
			img.image_all(class='col-xs-'+12/len+' col-sm-'+12/len,src=path+'assets/img/'+path_img+'#'+image)


section.stage-section
	.content.content-shadow
		.row
			.col-md-8.col-sm-8
				h3 Technical task
				p 	This initial stage is where you define your goals and objectives for the web site and begin to collect and analyze the information you’ll need to justify the budget and resources required. This is also the time to define the scope of the site content, the interactive functionality and technology support required, and the depth and breadth of information resources that you will need to fill out the site and meet your users’ expectations. If you are contracting out the production of the web site, you will also need to interview and select a site design firm. Ideally, your site designers should be involved as soon as possible in the planning discussions.
			.col-md-4.col-sm-4
				.section-logo
					+slider('tech_task.svg',['id1', 'id2', 'id3'],'techTaskSlides')
section.stage-section
	.content.content-shadow
		.row
			.col-md-4.col-sm-4
				.section-logo
					+slider('prototype.svg', ['id1', 'id2', 'id3', 'id4'],'prototypeSlides')
			.col-md-8.col-sm-8
				h3 Prototyping
				p 	Based from the information provided, we will start mocking up examples to determine the look and feel of the site itself. Your determined demographics have a big impact in the design phase, as we would not want to present you with a look and feel of a financial institution when skateboarders are your target market.
				p It is imperative that we have established great communication in this phase to ensure that the final product is exactly what you are looking for. Clients and developers will have varying opinions based on experience or personal tastes, it is important that both sides openly communicate and share thoughts and ideas for the best possible product. Once we arrive at a final design elements for the home page and child pages, then the development process will begin.

section.stage-section
	.content.content-shadow
		.row
			.col-md-8.col-sm-8
				h3 Design
				p 	This initial stage is where you define your goals and objectives for the web site and begin to collect and analyze the information you’ll need to justify the budget and resources required. This is also the time to define the scope of the site content, the interactive functionality and technology support required, and the depth and breadth of information resources that you will need to fill out the site and meet your users’ expectations. If you are contracting out the production of the web site, you will also need to interview and select a site design firm. Ideally, your site designers should be involved as soon as possible in the planning discussions.
			.col-md-4.col-sm-4
				.section-logo
					+slider('design.svg',['id1', 'id2', 'id3'],'designSlides')

section.stage-section
	.content.content-shadow
		.row
			.col-md-4.col-sm-4
				.section-logo
					+slider('programming.svg',['id1', 'id2', 'id3'],'programSlides')
					
			.col-md-8.col-sm-8
				h3 Programming
				p 	This initial stage is where you define your goals and objectives for the web site and begin to collect and analyze the information you’ll need to justify the budget and resources required. This is also the time to define the scope of the site content, the interactive functionality and technology support required, and the depth and breadth of information resources that you will need to fill out the site and meet your users’ expectations. If you are contracting out the production of the web site, you will also need to interview and select a site design firm. Ideally, your site designers should be involved as soon as possible in the planning discussions.
