-var path = "../"
mixin slider(images)
	for image in images
		img.mySlides.slider_size(src=path+'assets/img/tech_task.svg#'+image)
	-var len = images.length
	.image-container
		for image in images
			img.image_all(class='col-xs-'+len+' col-sm-'+len,src=path+'assets/img/tech_task.svg#'+image)

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title= title
		link(rel="stylesheet" href=path+'assets/css/main.css')
	body
		h1 My First MakeUp test
		.section-logo
			+slider(['id1', 'id2', 'id3'])

		script(src=path+'assets/js/main.js')